@import url(./global.css);

/* Contact Section   big  form  */
.contact {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  background: #fbfbfb;
}

.contact form {
  background-color: transparent;
  color: rgb(195, 226, 19); /* Optional: for visibility */

  width: 100%;
  max-width: 500px;
  background: #b7b4b62f;
  padding: 25px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(102, 30, 113, 0.395);
}

.contact form h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #8e44ad;
  text-align: center;
  text-transform: uppercase;
}

.contact form .box,
.contact form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.contact form .btn {
  width: 100%;
  padding: 12px;
  background-color: #8e44ad;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact form .btn:hover {
  background-color: #542d65dc;
}

/* Footer (optional base style) */
footer {
  background: #1f1e1e;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 14px;
}
